@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;300;400;500;600;700;800;900&display=swap');

/*DISEÑO DE LA TABLA DE EVALUACIONES*/

.table-head {
    background: #C5B268;
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    height: 50px !important;
}

.text-punto-evaluar {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(59, 61, 77, 0.83);
}

textarea{
    border: none !important;
    outline: none;
    border: 0;
}