@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.btn-style-chico {
    background: #337AB7;
    border-radius: 8px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.btn-style-chico:hover {
    background-color: rgba(171, 134, 39, 0.9);
    color: #fff;
}

.btn-rojo:hover {
    background: rgba(226, 36, 36, 0.534) !important;
    border-radius: 4px;
}

.texto-seguridad {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
}

.pas {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #767676;
}

.fondo {
    background-color: #ffe9c7 !important;
}

.imgQuestion {
    width: 18px;
    height: 18px;
    object-fit: cover;
}