

.table{
  margin-top: 20px;
  border: none;
  max-width: 1000px;
}

.nombre{
  border: none !important;
  border-radius: 6px 0px 0px 6px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Montserrat';
  vertical-align: middle; 
}

.institucion{
  border: none !important;
  border-radius: 0px 6px 6px 0px;
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 400;
  vertical-align: middle;
}

.institucionI{
  border: none !important;
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 400;
  vertical-align: middle;
}

.pais{
  border: none !important;
  border-radius: 0px 6px 6px 0px;
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 400;
  vertical-align: middle;
}

.categorias{
  background-color: #293E6B;
  color: white;
  font-size: 16px;
  font-weight: 300 !important;
  font-family: 'Montserrat';
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: #fbc16b57;
  color: var(--bs-table-striped-color) !important;
}



